name: RuffLinter

on:
  push:
  pull_request:
    branches: [main, develop]

jobs:
  test:
    name: Pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
      - name: Run tests
        run: |
          ./run_tests.sh